body {
    min-width: 200px;
    max-width: 720px;
    margin: 0 auto;
    padding: 30px;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.7;
    color: #333333;
}

h1 {
    text-align: center;
}

.clear {
    clear: both;
}
